<h1>Add a New Place</h1>

<form action="/places" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="name">Place name:</label>
    <input type="text" id="name" name="name">
  </div>

  <button type="submit">Add Place</button>
</form>

<a href="/places">Back to places</a>
